.screen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: #333333;
}

.full {
  width: 100vw;
  height: 100vh;
}

.sd-controller {
  position: absolute;
  width: 600px;
  height: 600px;
  background: #33333340;
  top: 10%;
  left: 2%;
  color: #fff;
  padding: 20px;
}

.coord-selector {
  width: 200px;
  height: 30px;
}
