.view {
  background-image: linear-gradient(90deg, #00a6e9, #00e9a6);
}
.container {
  bottom: 10%;
  left: 20%;
  position: absolute;
  width: 70vw;
  height: 50vh;
  display: flex;
  align-items: center;
}
.algorithms-switcher {
  position: absolute;
  left: 10px;
  top: 300px;
  background: #ffffff80;
  padding: 2rem;
  height: fit-content;
}
.bar {
  background-color: #ffffffa0;
  transition: transform 0.5s linear,
    background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), width 0.3s,
    opacity 0.3s;
}
.comparating {
  background-color: goldenrod;
}
.sorting-items-move {
  background-color: lightpink;
}
.sorting-items-enter-active {
  background-color: lightgreen;
}
.sorting-items-leave-active {
  opacity: 0.5;
  position: relative;
  background-color: lightcoral;
}
.operation-count {
  position: absolute;
  top: 10px;
  left: 10px;
}
.info-card {
  position: absolute;
  top: 10px;
  left: 10px;
  min-width: 200px;
  text-align: left;
  background-color: #ffffffa0;
}
